.emergency-map-container {
  display: grid;
  // grid-template-rows: min-content;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 30px;
  overflow: hidden;
  height: calc(100vh - 76px);

  &__map-container {
    grid-column: 1;
    grid-row: 1 / 4;
  }

  &__map-block {
    z-index: 3;
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: black;
    opacity: 0.6;
  }

  &__search-region {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    align-self: flex-start;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    .searchregion-form {
      margin-left: 40px;

      &__input {
        width: 300px;
      }
    }
  }

  @media screen and (min-width: 1080px) {
    .searchregion-form {
      &__input {
        width: 450px;
      }
    }
  }
}
