.information-place-box {
  min-width: 333px;
  max-width: 340px;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 3;

  @media screen and (min-width: 768px) {
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 10px;
    min-width: 363px;
    margin-top: 10px;
    align-self: flex-start;
  }
}
