.select-point-on-map-box {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 4;
  grid-gap: 10px;
  height: max-content;
  align-self: flex-end;
  overflow: hidden;
  transition: all 0.4s;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .select-point-on-map:nth-of-type(n + 7) {
    transform: translateX(50%);
  }

  @media screen and (min-width: 768px) {
    max-width: 460px;
    grid-row-start: 1;
    grid-row-end: 4;

    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }

    .select-point-on-map:nth-of-type(n + 7) {
      transform: translateX(0);
    }
  }
}
