.footer {
  background-color: map-get($map: $colors, $key: oc-light-green);
  color: map-get($map: $colors, $key: oc-white);

  p {
    font-size: 14px;
    font-family: "AvenirLight";
  }

  @media screen and (min-width: 768px) {
    p {
      font-size: 20px;
    }
  }
}

.rrss {
  justify-content: flex-end;

  img {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 768px) {
    img {
      width: 50px;
      height: 50px;
    }
  }
}
