.button {
  &--red {
    @include button(oc-red, oc-red, oc-white);
  }

  &--white-red {
    @include button(oc-white, oc-red, oc-black);
  }

  &--green {
    @include button(oc-dark-green, oc-dark-green, oc-white);
  }

  &--white-green {
    @include button(oc-white, oc-dark-green, oc-black);
  }

  &--orange {
    @include button(oc-orange, oc-orange, oc-white);
  }

  &--white-orange {
    @include button(oc-white, oc-orange, oc-black);
  }
}

.select-point-on-map-box {
  &--close {
    transform: translateY(calc(100% - 24px));
  }
}

.place-box-item {
  &--camas-uci:nth-of-type(1)::before {
    background-color: map-get($map: $colors, $key: oc-red);
  }

  &--camas-covid:nth-of-type(1)::before {
    background-color: #0e2dfd;
  }
  &--balones-de-oxígeno:nth-of-type(1)::before {
    background-color: #00b092;
  }

  &--farmacias:nth-of-type(1)::before {
    background-color: #fb7529;
  }

  &--centros-de-salud-minsa:nth-of-type(1)::before {
    background-color: #00599d;
  }

  &--centros-de-salud-essalud:nth-of-type(1)::before {
    background-color: #016e09;
  }

  &--centros-de-salud-privados:nth-of-type(1)::before {
    background-color: #01abf6;
  }

  &--centros-de-salud-ffaa-y-la-pnp:nth-of-type(1)::before {
    background-color: #aa01e9;
  }
}
