.aboutcovid-card {
  background-color: map-get($map: $colors, $key: oc-orange);
  border-radius: 16px;

  &__title {
    font-size: 16px;
    color: map-get($map: $colors, $key: oc-white);
  }

  &__link {
    color: map-get($map: $colors, $key: oc-white);
    text-decoration: underline;
  }
}
