$button-width: 130px;
$button-height: 44px;

.button {
  width: $button-width;
  height: $button-height;
  border: 3px solid;
  color: white;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: 14px;
  font-family: "AvenirHeavy";
  text-align: center;
  line-height: 1.2em;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: 768px) {
    width: $button-width * 1.2;
    height: $button-height * 1.2;
    font-size: 16px;
  }

  @media (min-width: 1080px) {
    width: $button-width * 1.7;
    height: $button-height * 1.28;
    font-size: 20px;
  }
}
