.select-point-on-map-box {
  background-color: map-get($map: $colors, $key: oc-white);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 4px 0.5px 4px 0.5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  // transform: translateY(100%);

  &__title {
    font-size: 18px;
    margin: 20px 10px;
  }

  &__updown {
    background-color: map-get($map: $colors, $key: oc-dark-green);
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &__updownicon {
    transition: all 0.6s;
  }

  &__updowntext {
    color: map-get($map: $colors, $key: oc-white);
    margin-right: 20px;
  }

  &__grid {
    padding: 0px 8px;
  }
}

.select-point-on-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 6px 0;
  border-radius: 6px;
  transition: 0.2s all;

  &__title {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }

  &__img {
    max-width: 80px;
  }

  &:active {
    background-color: lighten(map-get($colors, oc-black), 95%);
  }
}
