.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.h-100px {
  height: 100px !important;
}

.vaccine-calendar {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 70%;
  color: #00bfa6;
  text-align: center;
  font-size: 28px;
  max-width: 327px;
}

.vaccine-progress {
  position: absolute;
  width: 100%;
  height: 100%;
}

.vaccine-progress span {
  color: #01abf6;
  font-weight: bold;
  font-size: 28px;
}

.graph-block {
  background: #e6f7e9 !important;
  width: 100%;
  padding: 35px;

  &__title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    color: #000;
  }

  &__amount {
    color: #00bfa6;
    font-style: normal;
    display: inline-block;
  }

  &__source {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-top: 10px;
  }

  &__textbox {
    background: #ffffff;
    border: 1px solid #c5c4c4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    color: #00bfa6;
    font-size: 30px;
    line-height: 52px;
    min-height: 50px !important;
    width: 70%;
    text-align: center;
  }
  &__boxlabel {
    font-size: 24px;
    line-height: 35px;
  }
}
